body {
  text-align: center;
  background-image: url(../images/waterfall.gif);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}


header {
  background-image: url(../images/croppedClouds.gif);
  background-size: cover;
  height: 200px;
  position: relative;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: #26bf76;
  font-size: 40px;
  margin-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  color: #26bf76;
  font-family: 'Permanent Marker', cursive;
  height: 50px;
  width: 200px;
  font-size: 30px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255,0);
}

button#play {
  margin-right: 50px;
}

button {
  color: #26bf76;
  font-family: 'Permanent Marker', cursive;
  border-radius: 50px;
  border: 0px;
  font-size: 30px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255,0);
}


button:hover {
  color: white;
}

button:focus {
  outline: 0;
}

a {
  font-family: 'Permanent Marker', cursive;
  color: #26bf76;
  text-decoration: none;
}
a:hover {
  color: white;
}
article {
  text-align: center;
  height: 450px;
  width: auto;
  /*position: relative;*/
}
section {
  margin-top: 150px;
  background-color: rgba(255, 255, 255,0);
  margin-bottom: 10px;
  height: 410px;
  width: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div {
  display: inline-block;
  background-color: rgba(255, 255, 255,0);
  width: 50px;
  height: 50px;
  margin: -1.5px;
}

div.cat {
  background-image: url(../images/slowcat.gif);
  background-size: cover;
}

div.dog {
  background-image: url(../images/fallingPug2.gif);
  background-size: cover;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: 50px;
}
div.lives {
  background-color: rgba(255, 255, 255,0);
  color: red;
  text-align: center;
  width: auto;
  font-size: 50px;
  bottom: 50px;
  margin: 0 auto;
}

div.score {
 font-size: 50px;
 font-family: 'Permanent Marker', cursive;
 color: white;
 text-align: center;
 background-color: rgba(255, 255, 255,0);
 margin-right: 20px;
}
div.net {
 background-image: url(../images/portal.gif);
 background-size: cover;
}

#gameOver:hover {
 cursor: pointer;
}

#right {
  background-image: url(../images/rightArrow.png);
  background-size: cover;
  float: right;
  width: 100px;
  height: 100px;
}

#left {
  background-image: url(../images/leftArrow.png);
  background-size: cover;
  float: left;
  width: 100px;
  height: 100px;
}

span {
  height: 50px;
  width: 50px;
}

.pug{
  background-image: url(../images/runningPug.gif);
  background-size: cover;
  float: left;
}
.portal {
  background-image: url(../images/vertPortal.gif);
  background-size: cover;
  float: left;
}

/*mobile corrections*/
@media only screen and (max-width: 640px) {

    header {
      height: 150px;
    }
    h1 {
      height: 150px;
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
      margin: 100px auto;
    }
    button#play {
      font-size: 40px;
      margin: 80px;
    }
    button#stop {
      font-size: 25px;
      margin: 80px;
    }
    article{
      height: 600px;
    }
    section {
      top: 70%;
    }
    button#playAgain{
      margin-bottom: 200px;
      font-size: 25px;
    }
    div.lives {
      font-size: 30px;
    }
    div.score {
      font-size: 30px;
    }

}
